.section__ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section__ad-content {
  position: relative;
  flex-direction: column;
}

.section__ad-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.section__ad-list li a {
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
  background-color: #cdcdcd92;
  transition: 0.3s;
  font-weight: bold;
}

.section__ad-list li a:hover {
  color: #5058f2 !important;
}

.pool-item-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-image: url("../img/piscina-bg.jpg");
  background-position: center;
  text-align: center;
}

.pool-item-img img {
  width: 50%;
}

.available__title {
  margin-top: 4rem;
}

.available__bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #cdcdcd92;

  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 5px;
  max-width: 450px;
}

.available__form {
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
}

.available__form fieldset {
  display: flex;
  align-items: center;
}

.available__form input {
  border: 1px solid gray;
}

.search-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5058f2;
  height: 3rem;
  width: 3rem;
  border-radius: 40px;
}

.search-item svg {
  fill: rgb(255, 255, 255);
}

.banner {
  position: relative;

  background-image: url(../img/banner.jpg);
  background-size: cover;
  width: 15rem;
  height: 20rem;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;
}

.banner-icon {
  position: absolute;
  display: inline-block;
  border-radius: 40px;
  transition: 0.2s;
}

.banner-icon:hover {
  transform: scale(1.3);
}

.banner-icon img {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.icon1 {
  width: 30px;
  height: 30px;
  left: -6%;
  top: 1rem;
}

.icon2 {
  width: 50px;
  height: 50px;
  left: -9.5%;
  top: 4rem;
}

.icon3 {
  top: -4%;
  right: -10%;
  width: 5rem;
  height: 5rem;
}

.icon3 img {
  border-radius: 5px;
  border: none;
}

@media screen and (min-width: 1024px) {
  .section__ad {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8rem;
    text-align: initial;
  }

  .section__ad-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }

  .section__ad-list {
    display: flex;
    margin-top: 2rem;
    justify-content: initial;
    padding: 0;
    gap: 1rem;
  }

  .banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: left;
    width: 45%;
    height: 30rem;
    border-radius: 5px;
    margin: 0;
    margin-top: 0;
  }

  .available__title {
    font-size: 1rem;
  }

  .available__bar {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    gap: 0;
    width: 150% !important;
    z-index: 1000;
    height: 5rem;
    margin: 0;
    border-radius: 5px;
    max-width: initial;
  }

  .available__form {
    flex-direction: row;
    margin: 0;
  }

  .search-item {
    position: absolute;
    right: -3%;
    top: 1rem;
  }

  .search-item svg {
    fill: rgb(255, 255, 255);
  }

  .icon1 {
    left: -5%;
    width: 50px;
    height: 50px;
  }

  .icon2 {
    left: -7%;
    top: 6rem;
    width: 70px;
    height: 70px;
  }

  .icon3 {
    right: 0;
    width: 5rem;
    height: 5rem;
  }

  .icon3 img {
    border-bottom-right-radius: 0;
  }

  .icon3:hover {
    transform: scale(1.04);
  }
}
