html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

@media screen and (min-width: 1024px) {
    .default-container {
        padding-left: calc((100% - 1040px)/2);
        padding-right: calc((100% - 1040px)/2);
    }
}