.section__download {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.download-section-message {
  display: flex;
  gap: 1rem;
  width: 20rem;
  padding: .5rem;
  border-radius: 10px;
  text-align: start;
}

.download-section-message img {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.download-section-message h5 {
  display: inline;
}

.download-section-message p {
  font-size: 0.8rem;
}

.app-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-link img {
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .section__download {
        flex-direction: row;
        align-items: initial;
      }

      .app-link {
        align-items: flex-start;
    }
    
}
