.section__feedback {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feedback__banner {
  position: relative;

  background-image: url(../img/feedback-banner.png);
  background-color: #ab7bd1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}

.feedback__banner-icon {
  border-radius: 10px;

  width: 1.7rem;
  position: absolute;
  left: -7%;
  top: 5%;
}

.feedback__texts {
  width: 40%;
}

.feedback__texts img {
  width: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .feedback__banner {
    width: 20rem;
    height: 18rem;
  }

  .feedback__banner-icon {
    left: -10%;
    width: 4rem;
  }

  .feedback__texts img {
    width: 3rem;
  }
}
