.hotel-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hotel-card-wrapper > div {
    max-width: 250px;
    padding: 0;
    position: relative;
    border: none;
}

.hotel-card-wrapper div a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    position: absolute;
    bottom: 19%;
    left: 5%;
    border-radius: 50px !important;
    text-align: center;
    font-size: .8rem;
}

.hotel-card-wrapper p {
    display: inline-block !important;
}

.hotel-text-wrapper {
    display: flex;
}