.section__partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__partners div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.section__partners img {
    height: 4rem;
    width: 8em;
}

@media  screen and (min-width: 1024px) {
    .section__partners div {
        justify-content: space-between;
    }
    
}